Projects/AN3413-Current_consumption_touch_sensing/TrueSTUDIO/STM32L152RC\(32L152C-Discovery\)/Debug/User/*
Projects/AN3413-Current_consumption_touch_sensing/TrueSTUDIO/STM32L152RC(32L152C-Discovery)/Debug/*
*.map
*.list
*.elf
*.o
*.pdf
.idea/

